.firstCategory{

    height: 50px;
    width: 300px;
    margin: 15px;
    border: 5px solid blue;
    border-radius: 10px;
    background-color: rgba(151, 45, 163, 0.849);

}

.secondCategory{

    height: 200px;
    width: 150px;
    margin: 15px;
    border: 5px solid blue;
    border-radius: 10px;
    background-color: rgba(151, 45, 163, 0.849);
    display: inline-block;
    border: 5px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;

}